<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>fayewu's blog</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ page.base_url }}docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">faye's blog</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/work">IT girl's work</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h3>Trust me, I'm an engineer.</h3>
          </div>

          <h3>ichanged</h3>

          <ul>
          <li>简介：Linux下一个监控文件目录树变化的命令行工具。</li>
          <li>下载：<a href="https://github.com/ichanged/ichanged" target="_blank">下载戳我</a>  </li>
          <li>其他：版本至1.2，欢迎帮助试用、提Bug等等各种</li>
        </ul><br><br>
          
          <h3>wireless-defender</h3>
          
          <ul>
          <li>简介：无线网络下的安全防护工具</li>
          <li>下载： <a href="https://github.com/leeyiw/wireless-defender" target="_blank">下载戳我</a>（还没有发行版， 这里是github源码的地址）</li>
          <li>其他： 欢迎帮助试用、提Bug等等各种</li>
        </ul><br><br>
          
          <h3>本博客</h3>
          
          <ul>
          <li>简介：目前是web.py + bootstrap，很简单，日后会陆续添加内容</li>
          <li>源码：<a href="https://github.com/fayewu/my_blog" target="_blank">查看戳我</a></li>
          <li>其他： 欢迎帮助试用、提Bug等等各种</li>
        </ul><br><br>
          
          <h3>ps</h3>
          
          <p>任何问题，联系我哦：） <br>
          <a href="http://fayewu.cn/contact" target="_blank">联系戳我</a></p>

        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/offcanvas.js"></script>
  </body>
</html>
